---
layout: archive
---


<p style="font-size: 17px; text-align: justify;">
    My name is Babak Behkamkia, and I am a senior student at the Iran University of Science and Technology. My <b>GPA</b> is <b>3.79</b> and my IELTS score is <b>7.5</b>.
    I am interested in topics about <b>NLP</b>, such as stance detection, claim extraction, and fake news detection. 
    In addition, <b>GANs</b> and using <b>adversarial networks</b> in order to generalize the domain, are of great interest to me.
</p>


<div>
    <h3>Research Interests</h3>
    <ul>
        <li style="font-size: 17px; text-align: justify;">Deep Learning</li>
        <li style="font-size: 17px; text-align: justify;">NLP</li>
        <li style="font-size: 17px; text-align: justify;">GANs</li>
        <li style="font-size: 17px; text-align: justify;">Domain Adaptation</li>
        <li style="font-size: 17px; text-align: justify;">Domain Generalization</li>
      </ul>  
  </div>

{% include paginator.html %}
