---
layout: archive
---


        .title-class{
            font-weight: bold;
        }
        .text-class{
            font-size: medium;

        }
        .link-class{
            color: blue;
            text-decoration: underline;
        }


<p>
    My name is Babak Behkamkia, and I am a senior student at the Iran University of Science and Technology (GPA:3.79/4). 
    I am interested in topics about NLP, such as stance detection, claim extraction, and fake news detection. 
    In addition, GANs and using adversarial networks in order to generalize the domain, are of great interest to me.
</p>


<div>
    <h4>Research Interests</h4>>
    <ul>
        <li>Deep Learning</li>
        <li>NLP</li>
        <li>GANs</li>
        <li>Domain Adaptation</li>
      </ul>  
  </div>

{% include paginator.html %}
