---
layout: archive
---

<!-- Hi! I'm Zahra, a senior undergraduate student at IUST. In the recent years, 
I've become interested in AI and specifically Machine Learning. Now, I am in my 8th semester, 
and I'm busy doing my Final Project of BSc. I have received fully-funded admission offers for a master's 
degree from three universities including, the University of Alberta, Simon Frasor University, 
and University of Western Ontario for Fall 2020. Unfortunately, due to the pandemic, 
I cannot travel to Canada for the Fall semester. So, I am still in Iran working on my final project 
and some other projects as well. -->

<h2>About</h2>
<p style="font-size: 17px; text-align: justify;">
    Hi! I'm Babak, a senior undergraduate at the Iran University of Science and Technology. I found my passion when I was in the third semester. Since then, I have enrolled in numerous courses to prepare for research projects. Now, I am in my 8th semester, and I have a keen interest in GANs and Generative models. My main focus is on Multimodal Generative projects, and I love to combine the knowledge extracted from textual data with visual data.



    <!-- My name is Babak Behkamkia, and I am a senior student at the Iran University of Science and Technology. My <b>GPA</b> is <b>3.81</b> and my IELTS score is <b>7.5</b>.
    I am interested in topics about <b>NLP</b>, such as stance detection, claim extraction, and fake news detection. 
    In addition, <b>GANs</b> and using <b>adversarial networks</b> in order to generalize the domain, are of great interest to me. -->
</p>


<div>
    <h3>Research Interests</h3>
    <ul>
        <li style="font-size: 17px; text-align: justify;">Machine Learning</li>
        <li style="font-size: 17px; text-align: justify;">Deep Learning</li>
        <li style="font-size: 17px; text-align: justify;">NLP</li>
        <li style="font-size: 17px; text-align: justify;">GANs</li>
        <li style="font-size: 17px; text-align: justify;">Domain Adaptation</li>
      </ul>  
  </div>

{% include paginator.html %}
